<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-brand">
      <img src="../../assets/SmartLatino.jpg" alt="Logo" width="40" height="40">
    </a>
    <button class="navbar-toggler" id="navbar-toggler">
      <span class="navbar-toggler-icon">☰</span>
    </button>
    <div class="navbar-menu" id="navbar-menu">
      <ul class="navbar-links">
        <li><a href="#home" class="nav-link">Home</a></li>
        <li><a href="#skills" class="nav-link">Skills</a></li>
        <li><a href="#experience" class="nav-link">Experience</a></li>
        <li><a href="#contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>