<app-navbar></app-navbar>
<!-- home.component.html -->
 
<div class="home-container">
  <div class="image-container">
    <img src="assets/SmartLatino.jpg" alt="Your Photo" class="profile-photo">
  </div>
  <div class="text-container">
    <h1 class="title">{{ typedTitle }}</h1>
    <h1 class="job">{{ typedJob }}</h1>
  </div>
</div>

<div id="skills" class="section">
  <app-skills [ngClass]="{ 'hidden': !skillsVisible, 'visible': skillsVisible }"></app-skills>
</div>


<div id="experience" class="section">
  <app-experience></app-experience>
</div>


<div id="contact" class="section">
  <app-contact></app-contact>
</div>
